decord
einops
ftfy
huggingface_hub
iopath
matplotlib
numba
numpy
omegaconf
openai
opencv_contrib_python_headless
opencv_python
opencv_python_headless
Pillow
psutil
pycocotools
pytest
python_rapidjson
regex
scipy
skimage
submitit
tensordict
tidecv
timm
torch
torchcodec
torchmetrics
torchvision
tqdm
typing_extensions
xformers
